*
{
    padding: 0px;
    margin: 0px;
}
/* navbar styling */
.navbar
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(32, 44, 51);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    display: flex;

}

.pictures
{
    width: 50px;
    height: 50px;
    background-image: url(https://i0.wp.com/www.jbox.com.br/wp/wp-content/uploads/2022/02/miku-vocaloid-destacada.jpg?fit=774%2C489&quality=99&strip=all&ssl=1);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.name-bot
{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.name-bot .content p
{
    font-size: 12px;

}

/* end navbar styling */

/* message form */

.message-form
{
    background-image: url(../public/assets/img/potrait.jpg);
    background-size: contain;
    background-color: salmon;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-chat
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding-top: 30px;
    width: 80%;
    height: 80%;
}

/* clippath 
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 82%, 85% 75%, 0% 75%);

*/



.chat1
{
    background-color: #68B984;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 82%, 98% 75%, 0% 75%);
    height: 100px;
    
}

.isi-chat1
{
    padding: 10px;
    color: #333;
}


.chat2
{
    background-color: #68B984;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 2% 75%, 0 83%, 0% 75%);
    height: 100px;
}

.isi-chat2
{
    padding: 10px;
    color: #333;
}

.chat-row
{
    padding: 10px;
}

.row1
{
    width: 50%;
}

.row2
{
    width: 50%;
}


.kirim
{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #333;
}


/* end message form */

/* input message */

.input-message
{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:rgb(32, 44, 51);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputan
{
    width: 80%;
}

.inputan .pesan
{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    border: 0;
}


/* responsive media mobile style */

@media only screen and (max-width: 480px) {

    .container-chat
    {
        width: 95%;
    }

    .message-form
    {
        background-image: url(../public/assets/img/potrait.jpg);
        background-size: contain;
        background-color:rgb(32, 44, 51);
        height: 90vh;
        width: 100%;
    }

    .row1
    {
        width: 85%;
    }

    .row2
    {
        width: 85%;
    }


    .inputan .pesan
    {
        width: 80%;
    }

    
    
  }
/* responsive media mobile style end */